
body {
 font-family:'Spartan', sans-serif;
 text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

.product-users {
  font-size: 3rem;
  width: 70%;
  text-align: justify;
}


.attribution a {
  color: hsl(228, 45%, 44%) #36bfff;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
}

.introduction {
  position: relative;
  float: left;
  margin-left: 150px;
  width: 30%;
  line-height: 1;
}

.intro-paragraph {
  text-align: justify;
  font-size: 15px;
}

.ratings {
  position: relative;
  float: right;
  width: 50%;
  margin-top: 120px;
}

.sectionOne {
  padding: 50px 0 200px;
}

.testimony {
  padding: 300px 0 400px;
}

.first-testimony {
  width: 30%;
  position: absolute;
}

.second-testimony {
  width: 30%;
  position: relative;
  float: right;
}

.third-testimony {
  width: 30%;
  position: relative;
  float: right;
}
